/* Default bullets */
.swiper-pagination-bullet {
  background: #d1d5db !important;
  opacity: 0.7;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #8a5802 !important;
  opacity: 1;
}

@media only screen and (max-width:768px) {
  .swiper-pagination {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

